.vscode/settings.json
.vscode/sftp.json
code/temp_files/*
.vscode/sftp.json
.vscode/settings.json
code/oj_server
code/example.sh
code/test
code/lib/*.a
code/lib/*.dylib
code/test.cc
*.json
.DS_Store
code/note.md
code/buildscons/*
code/lib/Mac/buildscons/linux-gcc-11.0.3/.sconsign.dbm.dblite
