<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My OJ - Add Question</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/g11.png">

    <!-- CSS ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="header-logo">
                        <a href="/index.html"><img src="/assets/images/icons/header.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-auto d-lg-none d-flex align-items-center">
                    <button class="offcanvas-toggle">
                        <span></span>
                    </button>
                </div>
                <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/index.html">Questions</a>
                            <ul class="sub-menu">
                                <li><a href="/index.html">All Questions</a></li>
                                <li><a href="/add_question.html">Add Questions</a></li>
                                <li><a href="/index.html">My Questions</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a href="/index.html">User</a>
                            <ul class="sub-menu">
                                <li><a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#signup">Sign up</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Offcanvas Section Start -->
    <div id="offcanvas" class="offcanvas-section">
        <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
        <div class="offcanvas-wrap">
            <div class="inner">
                <div class="offcanvas-menu">
                    <nav>
                        <ul>
                            <li class="has-children"><a href="/index.html">Questions</a>
                                <ul class="sub-menu">
                                    <li><a href="/index.html">All Questions</a></li>
                                    <li><a href="/add_question.html">Add Questions</a></li>
                                    <li><a href="/index.html">My Questions</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="/index.html">What</a>
                                <ul class="sub-menu">
                                    <li><a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login">Login</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#signup">Sign up</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Offcanvas Section End -->

    <!-- OffCanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <div class="loginSignupModal modal fade" id="loginSignupModal" tabindex="-1" role="dialog" aria-labelledby="loginSignupModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <ul class="loginSignupNav nav">
                        <li><a class="nav-link active" data-toggle="tab" href="#login">Login</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#signup">Sign up</a></li>
                    </ul>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login">
                            <form>
                                <div class="row mb-n3">
                                    <div class="col-12 mb-3"><input type="email" placeholder="Email"></div>
                                    <div class="col-12 mb-3"><input type="password" placeholder="Password"></div>
                                    <div class="col-12 mb-3">
                                        <div class="row justify-content-between mb-n2">
                                            <div class="col-auto mb-2">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="remember-me" id="remember-me" value="checkedValue" class="custom-control-input">
                                                    <label class="custom-control-label" for="remember-me">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-auto mb-2"><a href="#">Forgot Password?</a></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="Login"></div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col text-center">
                                        <p class="text-muted">Or Login With</p>
                                        <div class="login-reg-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form>
                                <div class="row mb-n3">
                                    <div class="col-12 mb-3"><input type="text" placeholder="Your Name"></div>
                                    <div class="col-12 mb-3"><input type="email" placeholder="Your Email Address"></div>
                                    <div class="col-12 mb-3"><input type="password" placeholder="Choose a Password"></div>
                                    <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="Sign Up"></div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col text-center">
                                        <p class="text-muted">Or Register With</p>
                                        <div class="login-reg-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="/assets/images/bg/bg-1.png" data-overlay="25">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title">My OJ</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="/add_question">Add Question</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->

    <style>
        .section-padding {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <!-- Question Start -->
    <div class="section section-padding">
        <div class="container">
            <section class="my-5 pt-5">
                <div class="container">
                    <div class="form-group">
                        <!-- question name -->
                        <h6>name</h6>
                        <input id="name" type="text" name="name" />
                        
                        <!-- question type -->
                        <h6>need compile
                            <div>
                                <input id = "need-compile0" name="need-compile" type="radio" value="true">
                                <span class="badge badge-easy">true</span>

                                <input id = "need-compile1" name="need-compile" type="radio" value="false">
                                <span class="badge badge-easy">false</span>
                            </div>
                        </h6>

                        <!-- question level -->
                        <h6>level
                            <div>
                                <input id = "level0" name="level" type="radio" value="easy">
                                <span class="badge badge-easy">easy</span>

                                <input id = "level1" name="level" type="radio" value="medium">
                                <span class="badge badge-medium">medium</span>

                                <input id = "level2" name="level" type="radio" value="hard">
                                <span class="badge badge-hard">hard</span>
                            </div>
                        </h6>

                        <!-- question desc -->
                        <h6>desc</h6>
                        <div  id="editor0" style="min-height:400px"><textarea class="form-control" id="" name="desc" rows=30 cols=100></textarea></div>
                        <!-- question header -->
                        <h6>header</h6>
                        <div  id="editor1" style="min-height:400px"><textarea class="form-control" id="" name="header" rows=30 cols=100></textarea></div>
                        <!-- question tail -->
                        <h6>tail</h6>
                        <div  id="editor2" style="min-height:400px"><textarea class="form-control" id="" name="tail" rows=30 cols=100></textarea></div>
                        <!-- question header-test -->
                        <h6>header test</h6>
                        <div  id="editor3" style="min-height:400px"><textarea class="form-control" id="" name="header_test" rows=31 cols=100></textarea></div>
                        <input type="button" id="submit" class="btn btn-primary" value="review" onclick="view()">
                        <input type="button" id="submit" class="btn btn-primary" value="commit" onclick="commit()">
                    </div>
                    <!-- <div class="jumbotron" id="output"></div> -->
                </div>
            </section>
        </div>
    </div>
    <!-- Question End -->


    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="/assets/js/plugins/jquery.parallax.js"></script>
    <script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>

    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!-- ace -->
    <script src="https://cdn.bootcss.com/ace/1.2.9/ace.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.2.9/ext-language_tools.js"></script>
    <script>
        for (var i = 0; i < 4; i++)
        {
            var editname = "editor" + i;
            var editor = ace.edit(editname);
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.setTheme("ace/theme/terminal");      // 主题
            editor.session.setMode("ace/mode/c_cpp");   // 语言
            editor.setFontSize(18);                     // 字体大小
            editor.getSession().setTabSize(4);          // 制表符长度
            editor.session.setUseSoftTabs(true);        // 制表符变为对应长度空格
            //editor.setOption("wrap", "free")            // 自动换行
            ace.require("ace/ext/language_tools");      // 启动提示菜单
            editor.getSession().setUseWrapMode(true);   // 代码可折叠
            editor.resize();                            // 编辑器自动控制大小
            //editor.setReadOnly(true);                   // 编辑器只读模式
            editor.setShowPrintMargin(false);           // 设置是否显示边距线
        }
        function run(question_id) {
            var code = editor.getValue()
            htmlobj=$.ajax({
                url:"/compile/" + question_id,
                type:"POST",
                data: {"code": code},
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false
            });
            // alert(htmlobj.responseText)
            $("#output").html(htmlobj.responseText);
        }
        function view() {
            //question name
            var name = document.getElementById("name").value;
            // question type
            var need_compile = ""
            var need_compile_list = document.getElementsByName("need-compile");
            for (var i = 0; i < need_compile_list.length; i++) {
                if(need_compile_list[i].checked){
                    need_compile = need_compile_list[i].value;
                 }}
            //question level
            var level = ""
            var level_list = document.getElementsByName("level");
            for (var i = 0; i < level_list.length; i++) {
                if(level_list[i].checked){
                    level = level_list[i].value;
                 }}

            var editname = "editor";
            var editor = ace.edit(editname + "0");
            var desc = editor.getValue()
            var editor = ace.edit(editname + "1");
            var header = editor.getValue()
            var editor = ace.edit(editname + "2");
            var tail = editor.getValue()
            var editor = ace.edit(editname + "3");
            var header_test = editor.getValue()

            htmlobj=$.ajax({
                url:"/add_question_view",
                type:"POST",
                data: {
                    "name": name,
                    "need_compile": need_compile,
                    "level": level,
                    "desc": desc,
                    "header": header,
                    "tail": tail,
                    "header_test": header_test
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false
            });
            // alert(htmlobj.responseText)
            //$("#output").html(htmlobj.responseText);
            var obj = window.open("/add_question_view");  
            obj.document.write(htmlobj.responseText);  
        }
        function commit() {
            //question name
            var name = document.getElementById("name").value;
            // question type
            var need_compile = ""
            var need_compile_list = document.getElementsByName("need-compile");
            for (var i = 0; i < need_compile_list.length; i++) {
                if(need_compile_list[i].checked){
                    need_compile = need_compile_list[i].value;
                 }}
            //question level
            var level = ""
            var level_list = document.getElementsByName("level");
            for (var i = 0; i < level_list.length; i++) {
                if(level_list[i].checked){
                    level = level_list[i].value;
                 }}

            var editname = "editor";
            var editor = ace.edit(editname + "0");
            var desc = editor.getValue()
            var editor = ace.edit(editname + "1");
            var header = editor.getValue()
            var editor = ace.edit(editname + "2");
            var tail = editor.getValue()
            var editor = ace.edit(editname + "3");
            var header_test = editor.getValue()

            htmlobj=$.ajax({
                url:"/add_question_commit",
                type:"POST",
                data: {
                    "name": name,
                    "need_compile": need_compile,
                    "level": level,
                    "desc": desc,
                    "header": header,
                    "tail": tail,
                    "header_test": header_test
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false
            });
            // alert(htmlobj.responseText)
            //$("#output").html(htmlobj.responseText);
            var obj = window.open("/add_question_commit");  
            obj.document.write(htmlobj.responseText); 
        }
    </script>
</body>

</html>