<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My OJ - {{name}}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/g11.png">

    <!-- CSS ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="header-logo">
                        <a href="/all_questions?email={{user_email}}"><img src="/assets/images/icons/header.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-auto d-lg-none d-flex align-items-center">
                    <button class="offcanvas-toggle">
                        <span></span>
                    </button>
                </div>
                <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/all_questions?email={{user_email}}">Questions</a>
                            <ul class="sub-menu">
                                <li><a href="/all_questions?email={{user_email}}">All Questions</a></li>
                                <li><a href="/add_question.html?email={{user_email}}">Add Questions</a></li>
                            </ul>
                        </li>
                        <li class="has-children">{{user_name}}</a>
                            <ul class="sub-menu">
                                <li><span>User Email : {{user_email}}</span></li>
                                <li><a href="#" data-toggle="modal" data-target="#UserManageModal" data-target-sub="#changepassword">Change Password</a></li>
                            </ul
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Offcanvas Section Start -->
    <div id="offcanvas" class="offcanvas-section">
        <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
        <div class="offcanvas-wrap">
            <div class="inner">
                <div class="offcanvas-menu">
                    <nav>
                        <ul>
                            <li class="has-children"><a href="/all_questions?email={{user_email}}">Questions</a>
                                <ul class="sub-menu">
                                    <li><a href="/all_questions?email={{user_email}}">All Questions</a></li>
                                    <li><a href="/add_question.html?email={{user_email}}">Add Questions</a></li>
                                </ul>
                            </li>
                            <li class="has-children">{{user_name}}</a>
                                <ul class="sub-menu">
                                    <li><span>User Email : {{user_email}}</span></li>
                                    <li><a href="#" data-toggle="modal" data-target="#UserManageModal" data-target-sub="#changepassword">Change Password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Offcanvas Section End -->

    <!-- OffCanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <div class="UserManageModal modal fade" id="UserManageModal" tabindex="-1" role="dialog" aria-labelledby="UserManageModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="loginSignupNav nav">
                        <li><a class="nav-link active" data-toggle="tab" href="#changepassword">Change Password</a></li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="changepassword">
                            <form action="javascript:void(0)" method="POST">
                                <div class="row mb-n3">
                                    <div class="col-12 mb-3"><input id="old_password" type="password" placeholder="Old Password"></div>
                                    <div class="col-12 mb-3"><input id="new_password0" type="password" placeholder="New Password"></div>
                                    <div class="col-12 mb-3"><input id="new_password1" type="password" placeholder="New Password"></div>
                                    <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="Submit" onclick="Change_Password()"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="/assets/images/bg/bg-1.png" data-overlay="25">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title"><a href="https://github.com/Mmmmmmi/oj">My OJ</a></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/all_questions?email={{user_email}}">Home</a></li>
                    <li class="breadcrumb-item"><a href="/question/{{id}}?email={{user_email}}">Question / {{id}}</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->

    <style>
        .section-padding {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <!-- Question Start -->
    <div class="section section-padding">
        <div class="container">
            <section class="my-5 pt-5">
                <div class="container">
                    <div class="jumbotron">
                        <h3>{{id}}.{{name}}
                        <span class="badge badge-{{level}}">{{level}}</span>
                        </h3>
                        <div><pre>{{desc}}</pre></div>
                    </div>
                    <div class="modal-header">
                        <ul class="loginSignupNav nav">
                            <li><a class="nav-link active" data-toggle="tab" href="#editor0" onclick="cpp()">C++</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#editor1" onclick="python()">Python</a></li>
                        </ul>
                    </div>
                    <div  id="editor0" style="min-height:400px"><textarea class="form-control" name="code" rows=31 cols=100>{{header}}</textarea></div>
                    <div  id="editor1" style="min-height:400px"><textarea class="form-control" name="code" rows=31 cols=100></textarea></div>
                    <div class="form-group">
                        <input type="button" id="submit" class="btn btn-primary" value="提交" onclick="run({{id}})">
                    </div>
                    <h3>运行结果</h3>
                    <div class="jumbotron" id="output">
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Question End -->


    <!-- JS ============================================ -->

    <!-- Vendors JS -->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="/assets/js/plugins/jquery.parallax.js"></script>
    <script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>

    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!-- ace -->
    <script src="https://cdn.bootcss.com/ace/1.2.9/ace.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.2.9/ext-language_tools.js"></script>
    <script>
        var edit;
        var code_type;
        var ui = document.getElementById("editor0");
        ui.style.display="none"   //隐藏cpp代码窗口
        ui = document.getElementById("editor1");
        ui.style.display="none"   //隐藏python代码窗口
        ui = document.getElementById("submit");
        ui.style.display="none"  //隐藏提交按钮
        function cpp()
        {
            code_type = "cpp";
            var ui = document.getElementById("editor1");
            ui.style.display="none"    //隐藏python代码窗口
            ui = document.getElementById("editor0");
            ui.style.display="";       //显示cpp代码窗口
            ui = document.getElementById("submit");
            ui.style.display="";        //显示提交按钮
            var editor = ace.edit("editor0");
            edit = editor;
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.setTheme("ace/theme/terminal");      // 主题
            editor.session.setMode("ace/mode/c_cpp");   // 语言
            editor.setFontSize(18);                     // 字体大小
            editor.getSession().setTabSize(4);          // 制表符长度
            editor.session.setUseSoftTabs(true);        // 制表符变为对应长度空格
            //editor.setOption("wrap", "free")            // 自动换行
            ace.require("ace/ext/language_tools");      // 启动提示菜单
            editor.getSession().setUseWrapMode(true);   // 代码可折叠
            editor.resize();                            // 编辑器自动控制大小
            //editor.setReadOnly(true);                   // 编辑器只读模式
            editor.setShowPrintMargin(false);           // 设置是否显示边距线
        }
        function python()
        {
            code_type = "python";
            var ui = document.getElementById("editor0");
            ui.style.display="none";     //隐藏cpp代码窗口
            ui = document.getElementById("editor1");
            ui.style.display="";        //显示python代码窗口
            ui = document.getElementById("submit");
            ui.style.display="";         //显示提交按钮
            var editor = ace.edit("editor1");
            edit = editor;
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.setTheme("ace/theme/terminal");      // 主题
            editor.session.setMode("ace/mode/python");   // 语言
            editor.setFontSize(18);                     // 字体大小
            editor.getSession().setTabSize(4);          // 制表符长度
            editor.session.setUseSoftTabs(true);        // 制表符变为对应长度空格
            //editor.setOption("wrap", "free")            // 自动换行
            ace.require("ace/ext/language_tools");      // 启动提示菜单
            editor.getSession().setUseWrapMode(true);   // 代码可折叠
            editor.resize();                            // 编辑器自动控制大小
            //editor.setReadOnly(true);                   // 编辑器只读模式
            editor.setShowPrintMargin(false);           // 设置是否显示边距线
        }

        function run(question_id) {
            var code = edit.getValue()
            htmlobj=$.ajax({
                url:"/compile/" + question_id + "?email={{user_email}}",
                type:"POST",
                data: {
                    "code" : code,
                    "code_type" : code_type
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false
            });
            // alert(htmlobj.responseText)
            $("#output").html(htmlobj.responseText);
        }
        function Change_Password()
        {
            var old_password = $("#old_password").val();
            var new_password0 = $("#new_password0").val();
            var new_password1 = $("#new_password1").val();
            if (new_password0 == new_password1)
            {
                htmlobj=$.ajax({
                    url: "/change_password.html?email={{user_email}}",
                    type:"POST",
                    data: {
                        email: "{{user_email}}",
                        old_password: $("#old_password").val(),
                        new_password0: $("#new_password0").val(),
                        new_password1: $("#new_password1").val(),
                    },
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    async:false,
                    withCredentials: true,            // 这里设置了withCredentials
                    crossDomain: true,
                    success: function (data) {
                        var ret_obj =  JSON.parse(data)
                        if (ret_obj.code == 0) {
                            alert(ret_obj.message);
                            window.location.reload();
                        }
                        else {
                            alert(ret_obj.message);
                        }
                    },
                    error: function (data) {  
                        alert("Connection error");
                    }
                });
            }
            else
            {
                alert("Two Input Password Must Be Consistent");
            }
        }
    </script>

</body>

</html>