<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My OJ</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/g6.png">

    <!-- CSS ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="header-logo">
                        <a href="/all_questions?email={{user_email}}"><img src="/assets/images/icons/header.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-auto d-lg-none d-flex align-items-center">
                    <button class="offcanvas-toggle">
                        <span></span>
                    </button>
                </div>
                <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/all_questions?email={{user_email}}">Questions</a>
                            <ul class="sub-menu">
                                    <li><a href="/all_questions?email={{user_email}}">All Questions</a></li>
                                    <li><a href="/user_questions.html?email={{user_email}}">My Questions</a></li>
                                    <li><a href="/add_question.html?email={{user_email}}">Add Questions</a></li>
                            </ul>
                        </li>
                        <li class="has-children">{{user_name}}</a>
                            <ul class="sub-menu">
                                <li><span>User Email : {{user_email}}</span></li>
                                <li><a href="#" data-toggle="modal" data-target="#UserManageModal" data-target-sub="#changepassword">Change Password</a></li>
                            </ul
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Offcanvas Section Start -->
    <div id="offcanvas" class="offcanvas-section">
        <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
        <div class="offcanvas-wrap">
            <div class="inner">
                <div class="offcanvas-menu">
                    <nav>
                        <ul>
                            <li class="has-children"><a href="/all_questions?email={{user_email}}">Questions</a>
                                <ul class="sub-menu">
                                    <li><a href="/all_questions?email={{user_email}}">All Questions</a></li>
                                    <li><a href="/user_questions.html?email={{user_email}}">My Questions</a></li>
                                    <li><a href="/add_question.html?email={{user_email}}">Add Questions</a></li>
                                </ul>
                            </li>
                            <li class="has-children">{{user_name}}</a>
                                <ul class="sub-menu">
                                    <li><span>User Email : {{user_email}}</span></li>
                                    <li><a href="#" data-toggle="modal" data-target="#UserManageModal" data-target-sub="#changepassword">Change Password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Offcanvas Section End -->

    <!-- OffCanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <div class="UserManageModal modal fade" id="UserManageModal" tabindex="-1" role="dialog" aria-labelledby="UserManageModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="loginSignupNav nav">
                        <li><a class="nav-link active" data-toggle="tab" href="#changepassword">Change Password</a></li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="changepassword">
                            <form action="javascript:void(0)" method="POST">
                                <div class="row mb-n3">
                                    <div class="col-12 mb-3"><input id="old_password" type="password" placeholder="Old Password"></div>
                                    <div class="col-12 mb-3"><input id="new_password0" type="password" placeholder="New Password"></div>
                                    <div class="col-12 mb-3"><input id="new_password1" type="password" placeholder="New Password"></div>
                                    <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="Submit" onclick="ChangePassword()"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading Section Start -->
    <div class="page-heading-section section bg-parallax" data-bg-image="/assets/images/bg/bg-1.png" data-overlay="25">
        <div class="container">
            <div class="page-heading-content text-center">
                <h3 class="title"><a href="https://github.com/Mmmmmmi/oj">My OJ</a></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/all_questions?email={{user_email}}">Home</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Page Heading Section End -->

    <style>
        .section-padding {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <!-- Question Start -->
    <div class="section section-padding">
        <div class="container">
            <section class="my-5 pt-5">
                <div class="row mb-n5">
                    <div id ="questions_view" class="col-lg-9 col-12 mb-5 pr-lg-5">
                        <div class="col-sm-12">
                            <div class="mt-3 mb-5">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#question}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td><a href="/question/{{id}}?email={{user_email}}">{{name}}</a></td>
                                            <td><span class="badge badge-{{level}}">{{level}}</span></td>
                                            <!-- badge-hard 困难 -->
                                            <!-- badge-medium 困难 -->
                                            <!-- badge-easy 困难 -->
                                        </tr>
                                        {{/question}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12 mb-5">

                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Search Questions</h6>
                                </h6>
                                    <form action="javascript:void(0)">
                                        <input id= "seacher_key" type="text" placeholder="Seacher">
                                        <input id="seacher_submit" type="button" class="btn btn-primary" value="Seacher" onclick="SeacherQuestions()">
                                    </form>
                                </h6>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Sort Questions</h6>
                                <h6>
                                    <form action="#" class="mb-n1">
                                        <div class="custom-control custom-radio mb-1">
                                            <input id = "level0" name="level" type="radio" value="easy" onclick="SortQuestions('easy')">
                                            <span class="badge badge-easy">Easy</span>
                                        </div>

                                        <div class="custom-control custom-radio mb-1">
                                            <input id = "level1" name="level" type="radio" value="medium" onclick="SortQuestions('medium')">
                                            <span class="badge badge-medium">Medium</span>
                                        </div> 

                                        <div class="custom-control custom-radio mb-1">
                                            <input id = "level2" name="level" type="radio" value="hard" onclick="SortQuestions('hard')">
                                            <span class="badge badge-hard">Hard</span>
                                        </div> 
                                    </form>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Question End -->

    <!-- JS ============================================ -->

    <!-- Vendors JS -->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="/assets/js/plugins/jquery.parallax.js"></script>
    <script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>

        function SeacherQuestions()
        {
            var seacher_key = $("#seacher_key").val();
            htmlobj=$.ajax({
                url:"/seacher_questions.html" + "?email={{user_email}}&" + "seacher_key=" + seacher_key,
                type:"GET",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false,
                success: function (data) {
                },
                error: function (data) {  
                    alert("Connection error");
                }
            });
            $("#questions_view").html(htmlobj.responseText);
        }

        function SortQuestions(sort_key)
        {
            htmlobj=$.ajax({
                url:"/sort_questions.html" + "?email={{user_email}}&" + "sort_key=" + sort_key,
                type:"GET",
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                async:false,
                success: function (data) {
                },
                error: function (data) {  
                    alert("Connection error");
                }
            });
            $("#questions_view").html(htmlobj.responseText);
        }

        function ChangePassword()
        {
            var old_password = $("#old_password").val();
            var new_password0 = $("#new_password0").val();
            var new_password1 = $("#new_password1").val();
            if (new_password0 == new_password1)
            {
                htmlobj=$.ajax({
                    url: "/change_password.html?email={{user_email}}",
                    type:"POST",
                    data: {
                        email: "{{user_email}}",
                        old_password: $("#old_password").val(),
                        new_password0: $("#new_password0").val(),
                        new_password1: $("#new_password1").val(),
                    },
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    async:false,
                    withCredentials: true,            // 这里设置了withCredentials
                    crossDomain: true,
                    success: function (data) {
                        var ret_obj =  JSON.parse(data)
                        if (ret_obj.code == 0) {
                            alert(ret_obj.message);
                            window.location.reload();
                        }
                        else {
                            alert(ret_obj.message);
                        }
                    },
                    error: function (data) {  
                        alert("Connection error");
                    }
                });
            }
            else
            {
                alert("Two Input Password Must Be Consistent");
            }
        }
    </script>
</body>

</html>